<<<<<<< HEAD

$black:#222222;
$black-b:#000000;
$pink:#F1E4E6;
$dark-pink:#F16D7F;
$dark-pinks:#F26376;
$white:#FFFFFF;
$white-w:#FBFBFB;
$white-wa:#F5F3F3;
$white-wh:#F8F8F8;
$var:#E1E1E1;
$var-v:#E2E2E2;
$var-var:#EAEAEA;
$grey:#9F9F9F;
$dark-grey:#A4A4A4;
$grey-d:#B1B1B1;
$black-gray:#5D5D5D;
=======

$black:#222222;
$black-b:#000000;
$pink:#F1E4E6;
$dark-pink:#F16D7F;
$dark-pinks:#F26376;
$white:#FFFFFF;
$white-w:#FBFBFB;
$white-wa:#F5F3F3;
$white-wh:#F8F8F8;
$var:#E1E1E1;
$var-v:#E2E2E2;
$var-var:#EAEAEA;
$grey:#9F9F9F;
$dark-grey:#A4A4A4;
$grey-d:#B1B1B1;
$black-gray:#5D5D5D;
>>>>>>> Dev_home
$red: red;