.grid{
    background-color: $black;
}

.grid__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid__list{
    text-align: center;
    margin-top: 103px;
}

.grid__title{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: $white-w;
    margin-top: 28px;
    margin-bottom: 16px;
}

.grid__subtext{
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
    text-align: center;
    color: $white-w;
    margin-bottom: 104px;
    margin-right: 30px;
}

.grid__subtext-title{
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
    margin-bottom: 104px;
    margin-right: 30px; 
}

@media screen and (min-width:767px) and (max-width:1140px) {
    .container{
        width: 736px;
        margin: 0 auto;
    }

    .grid__item{
        display: flex;
        flex-direction: column;
    }

    .grid__subtext{
        margin-bottom: 48px;
    }

    .grid__list{
        margin: 0;
    }

    .grid__subtext{
        width: 360px;
        height: 34px;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 17px;
        text-align: center;
    }

    .grid__subtext-title{
        width: 360px;
        height: 34px;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 17px;
        text-align: center;
    }

    .grid__product{
        margin-top: 48px;
    }
}

@media screen and (min-width:375px) and (max-width:767px){
    .container{ 
        max-width: 375px;
        margin: 0 auto;
    }

    .grid__item{
        display: flex;
        flex-direction: column;
    }

    .grid__title{
        font-family: Lato;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }

    .grid__subtext{
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        width: 347px;
        height: 33px;
        letter-spacing: 0em;
        text-align: center;
        margin: 0;
    }

    .grid__subtext-title{
        font-family: Lato;
    font-size: 14px;
    font-style: normal;
    width: 347px;
    height: 33px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 80px;
    }

    .grid__list{
        margin-top: 48px;
    }

}    
