.header{
    background-color:$black; 
}

.header__container{
    display: flex;
    align-items: center;
    min-height: 75px; 
    justify-content: space-between;
}

.header__menu-list{
    padding-top: 25px;
    background: $white;
    width: 232px;
    height: 700px;
    margin: 25px 0 0 205px;
}

.header__menu{
    display: none;
    right: 0;
}

.header__box{
    display: flex;
    align-items: center;
}

.header__logo{
    margin: 0 41px 0 0;
}

.header__index:active,
.header__index:hover{
    opacity: 0.7;
    cursor: pointer;
}

.header__ico-click{
    margin: 0 0 0 33px;
}

.header__button.header__ico:active .button__click-text .header__menu{
    display: block;
    position: fixed;
    background-color:$white;
    width:232px;
    height: 764px;
}

.header__ico-click:hover
.header__ico-click:focus{
    opacity: 0.7;
    cursor: pointer;
}

a.header__ico-click:active path:first-child {
    opacity: 0.6;
    fill: $red;
}

a.header__search-click:active{
    opacity: 0.7;
    cursor: pointer;
}

a.header__search-click:active path:first-child {
    opacity: 0.6;
    fill:$red;
}

.header__button.header__ico{
    display: inline-block;
}

.header__title{
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    text-align: left;
    text-transform: uppercase;
    margin:37px 0 24px 34px ;
}

.header__button{
    border: none;
    background-color: transparent;
}

.header__search-container{
    max-width: 28px;
    max-height: 28px;
    position: relative;
}

.header__index-search{
    fill: #E8E8E8;
    position: absolute;
}

.header__index-search-ico{
    margin: 15px 15px 15px 30px;
}

.header__index-search-input{
    display: none;
    width: 200px;
    height: 30px;
    border-radius: 10px;
}

.header__search-container:hover .header__index-search-input{
    display: block;
}

.header__index-search:hover path:first-child{
    opacity: 0.6;
    fill:$red;
}

[type=search] {
    padding: 10px 20px;
    border: none;
}



@media screen and (min-width:767px) and (max-width:1140px) {
    .container{
        width: 767px;
        margin: 0 auto;
    }

    .header__button{
        margin-left: 16px;
    }

    .button__click-menu{
        margin-right: 32px;
    }
    
    .header__box{
        margin-left: 32px;
    }
    
    .header__menu-list{
        padding-top: 25px;
        background: $white;
        width: 210px;
        height: 333px;
        margin: 25px 0 0 0;
    }
    
}

@media screen and (min-width:375px) and (max-width:767px) {
    .container{ 
        width: 375px;
        margin: 0 auto;
    }

    .header__box{
        display: contents;
        margin-left: 16px;
    }

    .header__logo{
        margin: 0;
    }

    .button__click-menu{
        margin-right: 20px;
    }
}
@media (max-width:375px) {
    .container{ 
        width: 311px;
        margin: 0 auto;
    }

    .header__container{
        display: flex;
        justify-content: space-evenly;
    }

    .header__search-click{
        margin-right: 40px;
    }

    .header__index-search-input{
        width: 80px;
    }

    .header__index-search{
        margin: 0;
    }
}
