.hero{
    background-color:$pink;
}

.hero__container{
    display: flex;
}

.hero__img{
    display: flex;
    justify-content: flex-end;
    background-color: $white;
    box-sizing: border-box;
    width: 50%;
}

.hero-wrp{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0 0 92px;
    width: 50%;
    align-items: center;
}


.hero__focus-text{
    animation-duration: 5s;
    animation-name: slidein;
    animation-iteration-count: 1;
}

@keyframes slidein {
    from {
        margin-left: 20%;
    }
} 

.hero__img-sub{
    margin-right: 20px;
}

.hero__title{
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
}

.hero__subtitle{
    display: block;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
}

.hero__pink{
    color: $dark-pink;
}

@media screen and (min-width:767px) and (max-width:1140px) {
    .container{
        max-width: 767px;
        margin: 0 auto;
    }
    
    .hero__img{
        width: 384px;
        height: 360px;
    }

    .hero__image{
        width: 384px;
        height: 360px;
    }

    .hero-wrp{
        margin: 0;
        padding: 0 0 0 40px;
    }

    .hero__title{
        font-family: Lato;
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 53px;
    }

    .hero__subtitle{
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 29px;
    }
}

@media screen and (min-width:375px) and (max-width:767px) {
    .container{ 
        max-width: 375px;
        margin: 0 auto;
    }

    .hero__container{
        width: 375px;
        height: 363px;
    }

    .hero__img{
        display: none;
    }

    .hero__title{
        font-family: Lato;
    font-size: 38px;
    font-style: normal;
    font-weight: 900;
    line-height: 46px;
    letter-spacing: 0em;
    }

    .hero__subtitle{
        font-family: Lato;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
    }

    .hero-wrp{
        padding: 0;
        margin-left: 56px;
    }
}