.hero{
    display: flex;
    background-color: var(--pink);
}

.hero-wrp{
    display: flex;
    align-items: center;
    padding: 0 0 0 92px;
    

}

.hero__title{
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
}

.hero__subtitle{
    display: block;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
}

.hero__pink{
    color: #F16D7F;
}