<<<<<<< HEAD
.registr__icon{
    background-image: url(../img/reg.svg);
    min-height: 140px;
    display:flex;
}

.registr__input-sub{
    display: flex;
    flex-direction: column;
}

.registr__icon-text{
    margin: 59px 0 0 0;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    text-transform: uppercase;
    color:$dark-pink;
}

.registr__sub-text{
    margin-top: 64px;
    margin-bottom: 20px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
}

.registr__text{
    display: flex;
    justify-content: space-between;
}

.registr__sub-title{
    width: 359px;
    height: 32px;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
    color: $grey-d;
    margin-top: 15px;
    margin-bottom: 39px;

}

.registr__sub{
    max-width: 359px;
    min-height: 44px;
    border:  1px solid $dark-grey;
    text-indent: 20px;
    margin-top: 20px;
}

.registr__chekbox-sub{
    margin-top: 32px;
}

.registr__activ{
    background-color: $dark-pink;
    width: 167px;
    height: 50px;
    text-transform: uppercase;
    text-indent: 29px;
    margin-bottom: 96px;
}

.registr__active{
    width: 167px;
    height: 50px;
    background-color:$dark-pink;
    text-transform: uppercase;
    color: $white;
    border: none;
    margin-bottom: 96px;
    margin-left: 100px;
}

.registr__active::after{
    content: "→";
    font-weight: 700;
    margin-left: 20px;
}

.registr__active:hover,
.registr__active:focus{
    opacity: 0.6;
    cursor: pointer;
}

@media (max-width:1599px) {
    .container{
        width: 736px;
        margin: 0 auto;
    }
}
=======
.registr__icon{
    background-image: url(../img/reg.svg);
    min-height: 140px;
    display:flex;
}

.registr__input-sub{
    display: flex;
    flex-direction: column;
}

.registr__icon-text{
    margin: 59px 0 0 0;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    text-transform: uppercase;
    color:$dark-pink;
}

.registr__sub-text{
    margin-top: 64px;
    margin-bottom: 20px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
}

.registr__text{
    display: flex;
    justify-content: space-between;
}

.registr__sub-title{
    width: 359px;
    height: 32px;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
    color: $grey-d;
    margin-top: 15px;
    margin-bottom: 39px;

}

.registr__sub{
    max-width: 359px;
    min-height: 44px;
    border:  1px solid $dark-grey;
    text-indent: 20px;
    margin-top: 20px;
}

.registr__chekbox-sub{
    margin-top: 32px;
}

.registr__activ{
    background-color: $dark-pink;
    width: 167px;
    height: 50px;
    text-transform: uppercase;
    text-indent: 29px;
    margin-bottom: 96px;
}

.registr__active{
    width: 167px;
    height: 50px;
    background-color:$dark-pink;
    text-transform: uppercase;
    color: $white;
    border: none;
    margin-bottom: 96px;
    margin-left: 100px;
}

.registr__active::after{
    content: "→";
    font-weight: 700;
    margin-left: 20px;
}

.registr__active:hover,
.registr__active:focus{
    opacity: 0.6;
    cursor: pointer;
}

@media (max-width:1599px) {
    .container{
        width: 736px;
        margin: 0 auto;
    }
}
>>>>>>> Dev_home
