<<<<<<< HEAD
.text__grou{
    margin-left: 128px;
}

.text__group{
    text-transform: uppercase;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 29px;
    margin-top: 64px;
    margin-bottom: 22px;
}

.text__title-sub{
    width: 662px;
    height: 58px;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 29px;
    margin-bottom: 16px;
}

.text__title{
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 29px;
    margin-bottom: 16px;
}

.text__title-box{
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 29px;
    margin-bottom: 16px;
}

.text__title::before{
    content: "✓";
    font-weight: 700;
    margin-right: 23px;
}

.text__title-box-span{
    text-transform: capitalize;
}

.chekbox__sub-text{
    margin-right: 20px;
}

@media (max-width:1599px) {
    .container{
        width: 736px;
        margin: 0 auto;
    }
=======
.text__grou{
    margin-left: 128px;
}

.text__group{
    text-transform: uppercase;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 29px;
    margin-top: 64px;
    margin-bottom: 22px;
}

.text__title-sub{
    width: 662px;
    height: 58px;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 29px;
    margin-bottom: 16px;
}

.text__title{
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 29px;
    margin-bottom: 16px;
}

.text__title-box{
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 29px;
    margin-bottom: 16px;
}

.text__title::before{
    content: "✓";
    font-weight: 700;
    margin-right: 23px;
}

.text__title-box-span{
    text-transform: capitalize;
}

.chekbox__sub-text{
    margin-right: 20px;
}

.chekbox__sub-text-item{
    display: none;
}

@media screen and (min-width:767px) and (max-width:1140px) {
    .container{
        max-width: 767px;
        margin: 0 auto;
    }
<<<<<<< HEAD
>>>>>>> Dev_home
}
=======

    .text__grou{
        margin-left: 22px;
    }

    .text__group{
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 22px;
        }

    .text__title-box{
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 16px
        }

        .text__title{
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 16px;
        width: 311px;
        height: 37px;
        }
<<<<<<< HEAD
}    
>>>>>>> Dev_home
=======

    .chekbox__sub-text-item{
        display: block;
    }
}    

@media screen and (min-width:375px) and (max-width:767px) {
    .container{ 
        max-width: 375px;
        margin: 0 auto;
    }
    .text__grou{
        margin: 0;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        margin-left: 5px;
        margin-bottom:100px;
    }
    
    .text__title-box{
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
    }

    .text__title{
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
    }

    .chekbox__sub-text-item{
        display: block;
    }
}
>>>>>>> Dev_home
